<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipenta.mapper.UserMapper">
    <select id="findUserByName" parameterType="String" resultType="com.ipenta.entity.User">
        SELECT * FROM userInfo WHERE name = #{name}
    </select>
</mapper>
